<!--banner-->
<div class="banner">
    <img src="__IMG__/banner6.jpg" width="100%" />
</div>
<!--banner end-->
<h3 class="texC mrgT30 title">" 木 "  有  语  言  障  碍 , " 梯 "  升  沟  通  效  率</h3>

<!--main-->
<div class="guidance_service">
    <ul>
        <li>
            <div class="guidance_left fl"><img src="__IMG__/img.jpg" width="100%" /></div>
            <div class="guidance_right fl">
                <h1 class="mrgT45">< 海外包车服务 ><img src="__IMG__/icon_34.png" width="13" /></h1>
                <p class="mrgT20">当您到了海外需要包车，木梯商务为您提供到丰富多选的包车服务。为方便您的出行需求，请您提前确认出行时间，出行人数，是否有老人和儿童，是否需要提供儿童座椅（儿童座椅占1.5个座位），行李箱数量及尺寸、车辆偏好以及其他要求，以便为您安排合适的车辆及司机，木梯包车，使命必达。</p>
            </div>
        </li>
        <li>
            <div class="guidance_left fl"><img src="__IMG__/img1.jpg" width="100%" /></div>
            <div class="guidance_right fl">
                <h1 class="mrgT45">< 接送机服务 ><img src="__IMG__/icon_34.png" width="13" /></h1>
                <p class="mrgT20">当您到海外航班落地，木梯为您安排的司机车辆将提前到达目的地，准备登机牌等为您提供接机服务，将您安全送达目的地。当您需要飞往其他目的地或归国时，木梯同样为可以为您提供送机服务，提前安排司机车辆将您准时送达机场。木梯在手，旅程无忧。</p>
            </div>
        </li>
        <li>
            <div class="guidance_left fl"><img src="__IMG__/img2.jpg" width="100%" /></div>
            <div class="guidance_right fl">
                <h1 class="mrgT45">< 司机兼导游服务 ><img src="__IMG__/icon_34.png" width="13" /></h1>
                <p class="mrgT20">司机兼导游，当您到了海外包车的同时，需要有人带您游览，预约木梯司导，司机导游一步到位！木梯为您提供可以中文交流的司导，他们多半是在当地生活多年的“土著”，除了当地著名景点之外，也熟知当地美食、人文风情，带您游遍大街小巷。司导会更好地为您定制行程，给出合适的建议及旅行tips，不用担心常规旅行团的游览陷阱。自由行的舒适，专业的导游体验。</p>
            </div>
        </li>
        <li>
            <div class="guidance_left fl"><img src="__IMG__/img3.jpg" width="100%" /></div>
            <div class="guidance_right fl">
                <h1 class="mrgT45">< 徒步导游服务 ><img src="__IMG__/icon_34.png" width="13" /></h1>
                <p class="mrgT20">若您只需要徒步导游陪同，木梯同样可以为您提供！</p>
            </div>
        </li>
    </ul>
</div>
<!--main end-->