       
        <!--登录-->
        <div class="banner muti_login">
        	<img src="__IMG__/banner1.jpg" width="100%" />
            <div class="login_box">
            	<h3>密码登录>></h3>
                <form>
                    <div class="box_input">
                        <ul>
                            <li>
                                <div class="fl input_icon"><img src="__IMG__/icon_11.png" width="22" style="margin-top:7px;" /></div>
                                <input class="fl" type="text" placeholder="" />
                            </li>
                            <li>
                                <div class="fl input_icon"><img src="__IMG__/icon_12.png" width="19" style="margin-top:6px;" /></div>
                                <input class="fl" type="password" placeholder="" />
                            </li>
                        </ul>
                        
                        <input type="button" value="登录" class="login_button" />
                        <div class="fr login_link mrgT20">
                        	<a href="javascript:void(0);">忘记密码</a><span>|</span><a href="javascript:void(0);">免费注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--登录-->
       