<!-- Breadcrumb -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item">任务管理</li>
    <li class="breadcrumb-item active">任务列表</li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            
        </div>
        <!--/.row-->

        <div class="card">
            
            
        </div>
        <!--/.card-->

        <div class="row">
            
        </div>
        <!--/.row-->

        <div class="row">
            
            <!--/.col-->
        </div>
        <!--/.row-->
    </div>


</div>
<!-- /.conainer-fluid -->