<!--banner-->
<div class="banner">
    <img src="__IMG__/banner.jpg" width="100%" />
</div>
<!--banner end-->
<h3 class="texC mrgT30 title">" 木 "  有  语  言  障  碍 , " 梯 "  升  沟  通  效  率</h3>

<!--main-->
<div class="work_service">
    <ul>
        <li>
            <div class="fl work_img work_main"><img src="__IMG__/banner1.jpg" width="100%" /></div>
            <div class="fl work_word work_main"><p>木梯商务以翻译为基础服务，通过海外当地的华人华侨或外籍人各类代办事服务。如您需要办理某些业务，又不方便到海外当地，您可以在木梯预约有相应能力或资源的当地华人来解决您的需求，让您足不出户，轻轻松松办成事情。</p></div>
        </li>
        <li>

            <div class="fl work_word work_main"><p>您的海外展会需要搭建协助时，木梯可为您安排当地译员现场提供翻译，并协助搭建展会平台，及时反馈贵公司的展会布置情况。若您无法赶往当地，需要译员代参展会收集资料，木梯译员将前往展会上为您收集，第一时间反馈给您。全程无缝对接，安心放心。
</p></div>
            <div class="fl work_img work_main"><img src="__IMG__/banner1.jpg" width="100%" /></div>
        </li>
        <li>
            <div class="fl work_img work_main"><img src="__IMG__/banner1.jpg" width="100%" /></div>
            <div class="fl work_word work_main"><p>当您需要各类海外信息咨询，无论是商务、法务、金融、医疗还是其他专业领域，木梯专业译员人才库为您挑选专业人员为您提供咨询服务，并还可同时到您所需的目的现场为您代办相关事宜。</p></div>
        </li>
        <li>

            <div class="fl work_word work_main"><p>当您到了海外需要租房服务，无论是短期居住还是长期租住，木梯将根据您的需求为您预定舒适安心的华人之家，身在海外，宾至如归。</p></div>
            <div class="fl work_img work_main"><img src="__IMG__/banner1.jpg" width="100%" /></div>
        </li>
        <li>
            <div class="fl work_img work_main"><img src="__IMG__/banner1.jpg" width="100%" /></div>
            <div class="fl work_word work_main"><p>除以上代办事项，海外的一切日常需求，只要您需要，木梯译员一应为您服务周到，满足您个人多样化的定制需求。</p></div>
        </li>
    </ul>
</div>
<!--main end-->
