<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>任务发布规则</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--<link rel="Shortcut Icon" href="favicon.ico" />地址栏和标签上显示图标-->
<!--<link rel="Bookmark" href="favicon.ico" />收藏夹显示图标-->
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/css3.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js" ></script>
  <!--[if IE 6]> 
<script src="js/iepng.js" type="text/javascript"></script> 
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input,a,span'); 
</script>
<![endif]-->
</head>
<body>
    <div class="container2">
    	<div class="user_agreement">
        	<h3>《木梯商务任务发布规则》</h3>
            <div class="user_agreement_active">
            	<h2 class="texC" style="font-size:14px;padding-top:20px;">《木梯商务任务发布规则》</h2>
                <p class="mrgT20">为了创造一个良好、和谐、诚信的交易环境，现制定以下任务发布规则，请大家主动遵守。平台的任何标准和规定，都将以平台良性发展为目标，我们既要保户接单者的权益也要保护发布者的利益，我们不会倾向于哪一方，对于接单者和发单者平台都有严格的要求及规范，旨在约束大家诚信交易，平等互利，创建一个清洁的交易环境，任何形式的造假及不诚信行为都将受到严厉打击。</p>
                <p>1. 不得发布法律法规所禁止的内容任务；</p>
                <p>2. 禁止语言粗暴带脏话及歧视诅咒类语言；</p>
                <p>3. 不得发布与本平台提供服务高度相左的任务；</p>
                <p>4.禁止向外拉人行为，在平台发布任务，而让接单者加微信或进群另行发红包或做任务的，一经发现永久封号，公司会指派巡查员巡查反馈；</p>
                <p>5.严禁任务造假，发布不可能完成的任务，或通过率极低的，任务内容不符合常规的，任务中又没有明确提示的，都将按伪任务处理；</p>
                <p>6.任务中需要接单者另外付出成本高于所获佣金，且任务中没有明确说明的，如遇申诉将直接按接单合格处理，明显有诱导欺骗行为的，冻结任务，严重者封号；</p>
                <p>7. 不按类别发布任务、驳回任务不写原因、语言粗暴带脏话的，如遇申诉，直接按接单不合格处理；</p>
                <p>8.当遇到任务申诉，平台将尽最大努力秉承公正裁决，但不能保证每次裁决均为客观正确。尤其需要凭自己后台数据作为审核标准的任务，因无法查阅贵平台数据，只能根据截图本身是否符合任务做出裁定，敬请知晓；</p>
                <p>9. 如遇骗单，用假图ps图冒充验证图行为，请保留证据及时向平台举报；</p>
                <p>10.任务价格设定合理，木梯商务平台均为自然人，非机器亦非刷手，所能支付的报酬不符合市场的任务的，就请不要再抱怨无人接单了，互利才可成交生意，抱着占便宜的目的一方面可能造成您的任务无法在预期内正常执行，而且会对平台的市场行情造成一定的不良影响；</p>
                <p>11. 系统规则：</p>
                <p>1)任务发布后不能自行修改，如若实在需要修改，请及时联系客服，若最后因非平台原因或其他自身因素导致的任务没能执行成功，平台不承担责任。但发布前可以先保存，所以请确认无误后再发布；</p>
                <p>2)发布前的任务可以自行增删改；</p>
                <p>3)平台服务费按实际交易部分收取；</p>
                <p>如有违规根据情节将给予警告、冻结任务及封号等处理，冻结任务及封号余额不退。您需要知晓并遵循以上原则和要求，如不愿意接受，请勿发布任务，一旦发布将视为您同意遵守本规则。</p>
            </div>
        </div>
    </div>
</body>
</html>
