<!--banner-->
<div class="banner">
    <img src="__IMG__/banner2.jpg" width="100%" />
</div>
<!--banner end-->
<h3 class="texC mrgT30 title">" 木 "  有  语  言  障  碍 , " 梯 "  升  沟  通  效  率</h3>

<!--main-->
<div class="service_area">
    <h3 class="texC">明星服务商</h3>
    <div class="star_service mrgT50">
        <ul>
            <li>
                <div class="star_img"><img src="__IMG__/banner1.jpg" width="100%" /></div>
                <div class="star_information">
                    <div class="star_image"><img src="__IMG__/2.png" width="100%" /></div>
                    <div class="star_name texC mrgB15">
                        <h3><span>DEMI</span><美国-纽约></h3>
                    </div>
                    <p class="texC">翻译/待办事</p>
                    <p class="texC">已完成<span>20</span>条任务</p>
                </div>
            </li>
            <li>
                <div class="star_img"><img src="__IMG__/banner1.jpg" width="100%" /></div>
                <div class="star_information">
                    <div class="star_image"><img src="__IMG__/2.png" width="100%" /></div>
                    <div class="star_name texC mrgB15">
                        <h3><span>DEMI</span><美国-纽约></h3>
                    </div>
                    <p class="texC">翻译/待办事</p>
                    <p class="texC">已完成<span>20</span>条任务</p>
                </div>
            </li>
            <li>
                <div class="star_img"><img src="__IMG__/banner1.jpg" width="100%" /></div>
                <div class="star_information">
                    <div class="star_image"><img src="__IMG__/2.png" width="100%" /></div>
                    <div class="star_name texC mrgB15">
                        <h3><span>DEMI</span><美国-纽约></h3>
                    </div>
                    <p class="texC">翻译/待办事</p>
                    <p class="texC">已完成<span>20</span>条任务</p>
                </div>
            </li>
            <li>
                <div class="star_img"><img src="__IMG__/banner1.jpg" width="100%" /></div>
                <div class="star_information">
                    <div class="star_image"><img src="__IMG__/2.png" width="100%" /></div>
                    <div class="star_name texC mrgB15">
                        <h3><span>DEMI</span><美国-纽约></h3>
                    </div>
                    <p class="texC">翻译/待办事</p>
                    <p class="texC">已完成<span>20</span>条任务</p>
                </div>
            </li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<!--main end-->