.banner{height:125px;overflow:hidden;}
.navigate{height:41px;line-height:41px;background:#eeeeee;font-size:16px;color:#666;}
.navigate a{color:#666;}

.main_left{width:792px;}
.main_left>h3{width:100%;height:34px;background:url(../images/bg.jpg) no-repeat;color:#fff;font-size:20px;text-align:center;line-height:34px;}
.news_list{border-top:1px solid #e5e5e5;}
.news_list li{border-bottom:1px solid #e5e5e5;padding:14px 0 16px 0;overflow:hidden;}
.news_list li a{display:block;overflow:hidden;}
.news_list li:hover{background:#f9fafd;}
.news_list .news_img{width:200px;height:144px;overflow:hidden;}
.news_main{width:354px;}
.news_main h3{color:#333333;font-size:20px;}
.news_main p{color:#666;font-size:12px;line-height:20px;}
.news_main span{color:#999;font-size:12px;}
.main_right{border-left:1px solid #ccc;min-height:470px;width:170px;}


.proposal_li li{overflow:hidden;font-size:20px;color:#333;margin-bottom:20px;}
.proposal_li{padding-left:42px;}
.proposal_li li h3{width:105px;line-height:35px;}
.proposal_li .inp{width:263px;height:33px;border:1px solid #cccccc;text-indent:7px;}
.proposal_li .inp_text{border:1px solid #cccccc;padding:8px;width:584px;height:240px;resize: none;}
.proposal_li .subsit{border:1px solid #60a42f;width:141px;height:33px;background:#fff;border-radius:3px; cursor:pointer;margin-left:340px;font-size:20px;color:#333;}