<!--banner-->
<div class="banner">
    <img src="__IMG__/banner4.jpg" width="100%" />
</div>
<!--banner end-->
<h3 class="texC mrgT30 title container2">" 木 "  有  语  言  障  碍 , " 梯 "  升  沟  通  效  率</h3>

<!--main-->
<div class="process mrgT50">
    <h3 class="container2 texC">简易流程</h3>
    <div class="process_li mrgT15">
        <div class="container2 texC"><img src="__IMG__/icon_20.png" width="836" class="mrgT20" /></div>
    </div>
    <div class="container2">
        <div class="recruit_word">
            <h1>如果你：</h1>
            <ul>
                <li>是海外当地留学生，想要在忙碌的课程之外兼职获取额外收入，参与各类商务会议，全球展会，提前感受职场氛围；</li>
                <li>是当地华侨，熟悉当地文化，掌握当地语言，热情好客，助人为乐；</li>
                <li>是各行业内的专业人士，热衷海内外行业内沟通交流，拓展行业人脉，挖掘专业度；</li>
                <li>是国内专业译员，想兼职一份翻译工作，利用闲暇时间做文件笔译，或是希望在全球各大商务会议中参与现场翻译；</li>
                <li>是一名外籍人士，熟悉当地风土人情，名胜古迹，中文交流，热爱旅游，帮助他人；</li>
                <li>是一名专职司机或地接社，专业承接接送机、包车或导游服务，寻求国内合作；</li>
            </ul>
            <p class="mrgT15">您就是我们要寻找的木梯服务商！</p>
            <a href="javascript:void(0);">立即加入</a>
        </div>

        <div class="understand">
            <h3 class="texC mrgB25">了解木梯商务</h3>
            <video width="576" height="306" controls="controls" style="display:block;border:1px solid #000;margin:0 auto 130px;">
                  <source src="" type="video/ogg">
                  <source src="" type="video/mp4">
            </video>
        </div>

        <div class="recruit_list">
            <ul>
                <li>
                    <h3><img src="__IMG__/icon_21.png" width="38" /> 资 金 收 入</h3>
                    <p>利用闲暇时间赚取一份收入，拓展您的人脉。当您服务任务结束之后，我们会与客户联系确认您的任务服务是否完成，是否填写了《木梯服务评价表》，确认完毕后，我们将立即联系财务人员打款，一般不超过北京时间当日17:00，节假日顺延。</p>
                </li>
                <li>
                    <h3><img src="__IMG__/icon_22.png" width="38" />安 全 保 障</h3>
                    <p>我们会对客户的真实身份进行审核验证，以保证译员在安全环境中进行翻译工作。译员的个人资料一经审核加入木梯加密数据库中，木梯遵守国家法律法规要求，除必要的翻译履历部分展示给相应客户，绝不透露给第三方，保障译员资料安全。</p>
                </li>
                <li>
                    <h3><img src="__IMG__/icon_23.png" width="38" />时间自由</h3>
                    <p>定价、待客频率和时段完全由您决定。也就是说，您能自由选择接单时间！</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--main end-->