<!--banner-->
<div class="banner">
    <img src="__IMG__/banner7.jpg" width="100%" />
</div>
<!--banner end-->
<h3 class="texC mrgT30 title">" 木 "  有  语  言  障  碍 , " 梯 "  升  沟  通  效  率</h3>
<!--main-->
<div class="translation_service">
    <ul>
        <li>
            <img src="__IMG__/icon_35.png" width="73" />
            <div class="translation_left fl"><img src="__IMG__/img4.jpg" width="100%" /></div>
            <div class="translation_right fl">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>若您需要旅游陪同，木梯为您贴心提供翻译服务，了解名胜古迹的历史、人文资源等。带上美好心情，与木梯译员一起深入当地，尽情享受一段安全舒适、自由放松、充满欢乐的旅行时光。</td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            <img src="__IMG__/icon_35.png" width="73" />
            <div class="translation_right fl">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>在商务陪同时，木梯为您提供专业的外国语和汉语间的翻译工作；现在木梯在国家机关、学校、涉外单位、外资企业等各类企事业单位的各类外事活动中均有提供服务；在客户进行商务访问接待、外事访问接待，日常生活交流中需要的陪同翻译，木梯译员是您的首选！</td>
                    </tr>
                </table>
            </div>
            <div class="translation_left fl"><img src="__IMG__/img5.jpg" width="100%" /></div>
        </li>

        <li>
            <img src="__IMG__/icon_35.png" width="73" />
            <div class="translation_left fl"><img src="__IMG__/img6.jpg" width="100%" /></div>
            <div class="translation_right fl">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>在全球各大展会现场，遍布木梯译员的足迹。木梯为您提供专业的展会陪同翻译，欢迎各企事业单位、展会公司、个人进行预约！另外木梯为您提供最新的展会信息，可直接点开菜单查询。</td>
                    </tr>
                </table>
            </div>
        </li>
        <li>
            <img src="__IMG__/icon_35.png" width="73" />
            <div class="translation_right fl">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>在您需要进行移民咨询，商务考察时，木梯除了为您提供专业译员之外，与全球各大移民律师事务所均有咨询合作，为您贴心定制每一步！</td>
                    </tr>
                </table>
            </div>
            <div class="translation_left fl"><img src="__IMG__/img7.jpg" width="100%" /></div>
        </li>
        <li>
            <img src="__IMG__/icon_35.png" width="73" />
            <div class="translation_left fl"><img src="__IMG__/img8.jpg" width="100%" /></div>
            <div class="translation_right fl">
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <td>木梯为您提供涉外法律翻译，涉外医疗翻译，在您需要去国外进行法律咨询、看病、复诊等，木梯译员为您翻译专业词汇，解答您的各类疑惑难点。</td>
                    </tr>
                </table>
            </div>
        </li>
    </ul>
</div>
<!--main end-->
