<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> 管理控制台 <span class="badge badge-info"></span></a>
            </li>

            <li class="nav-title">
                业务管理
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i> 会员管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/user.html"><i class="icon-arrow-right"></i> 个人会员</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/ep_user.html"><i class="icon-arrow-right"></i> 企业会员</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i> 译员管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/supplier.html"><i class="icon-arrow-right"></i> 译员列表</a>
                    </li>
                </ul>
            </li>                   
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i> 任务管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/job.html"><i class="icon-arrow-right"></i> 任务列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/job_catalog.html"><i class="icon-arrow-right"></i> 任务分类</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i> 订单管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/order.html"><i class="icon-arrow-right"></i> 订单列表</a>
                    </li>
                </ul>
            </li>     
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i> 内容管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/article_cat.html"><i class="icon-arrow-right"></i> 文章分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/article.html"><i class="icon-arrow-right"></i> 文章列表</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                系统管理
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i>系统管理</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/admin.html"><i class="icon-arrow-right"></i> 账户管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/power.html"><i class="icon-arrow-right"></i> 权限管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/role.html"><i class="icon-arrow-right"></i> 角色管理</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-menu"></i>统计分析</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/analyse_member.html"><i class="icon-arrow-right"></i> 会员统计</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/analyse_supplier.html"><i class="icon-arrow-right"></i> 译员统计</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin.php/analyse_order.html"><i class="icon-arrow-right"></i> 订单统计</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>