<!--banner-->
<div class="banner">
    <img src="__IMG__/banner5.jpg" width="100%" />
</div>
<!--banner end-->

<!--main-->
<div class="about container2">

    <div class="about_word">
        <div class="about_top texC"><img class="mrgT35" src="__IMG__/icon_25.png" width="165" /></div>
        <div class="about_article">
            <h3 class="texC title mrgB25" style="color:#000;">“木”有语言障碍，“梯”升沟通效率，世界因木梯更高远</h3>
            <h1 style="font-size:14px;">公司简介:</h1>
            <p>全称“杭州木梯商务服务有限公司”，简称为“木梯商务”或“木梯”。木梯商务以翻译为基础服务，通过由海外当地的华人华侨为出境的中国企业或个人提供翻译、陪同、司机导游、渠道推广、人脉拓展、代办事等服务，最终实现全球的华人网络综合服务平台。</p>
            <h1 style="font-size:14px;">木梯使命:</h1>
            <p>让全球商务、旅行变得更容易 。无论是想出国公访，商务考察，参加展会，外贸渠道拓展，还是移民，旅游，求学，寻医，或者海外生活指导……木梯商务都可以帮你实现！</p>
            <h1 style="font-size:14px;">木梯目标:</h1>
            <p>不论在全球哪个角落，有华人的地方就有木梯的服务。</p>
        </div>

    </div>

    <div class="about_infomation">
        <div class="fl infomation_li">
            <h1 class="fl">杭州木梯商务服务有限公司</h1>
            <div class="clear"></div>
            <ul>
                <li>官方网站：www.muti35.com</li>
                <li>客服微信: 13616535028；15869163888</li>
                <li>Email邮箱: mtys@muti35.com</li>
                <li>国内客服热线: 13616535028；15869163888</li>
                <li>国外用户请拨打：+8613616535028；+8615869163888</li>
            </ul>
        </div>
        <div class="fr">
            <img src="__IMG__/wx.png" width="148" class="mrgT15" />
        </div>
    </div>
</div>
<!--main end-->