<!--footer-->
<footer class="footer">
    <div class="foot" style="height:258px;background:#7d7d7d;color:#fff;border-top:1px solid #7d7d7d;">
        <div class="container2 footer_list">
            <div class="fl contact foot_list">
                <h3>联系我们</h3>
                <ul>
                    <li><h1 class="fl">国内：</h1><p class="fl">13616535028；15869163888</p></li>
                    <li><h1 class="fl">国外：</h1><p class="fl">+8613616535028；+8615869163888</p></li>
                    <li><h1 class="fl">服务时间：</h1><p class="fl">7*24小时</p></li>
                    <li><h1 class="fl">邮箱：</h1><p class="fl">mtys@muti35.com</p></li>
                    <li><h1 class="fl">地址：</h1><p class="fl">浙江省杭州市西湖区杭州市西湖区文一西路75号1号楼五层506室</p></li>
                </ul>
            </div>

            <div class="fl company_profile foot_list">
                <h3 class="texC">公司简介</h3>
                <div class="main">杭州木梯商务服务有限公司——木梯商务以翻译为基础服务，通过遍布全球的近万名译员及司导，为出境的华人企业、商务人士或游客，提供翻译、司机/导游服务，其中包括：笔译、口译、商务陪同、包车、接送机、司机、司机兼导游等专业服务，最终实现全球的华人网络综合服务平台。</div>
            </div>

            <div class="fr concern foot_list">
                <h3 class="texC">关注我们</h3>
                <ul class="">
                    <li class="fl"><img src="/static/home/images/icon.png" width="36" class="mrgB10" /><img src="/static/home/images/icon_2.png" width="100%" /></li>
                    <li class="fr"><img src="/static/home/images/icon_1.png" width="36" class="mrgB10" /><img src="/static/home/images/icon_3.png" width="100%" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot_bottom">
        <div class="foot_link texC">
            <a href="javascript:void(0);">帮助中心</a>
            <a href="javascript:void(0);">关于我们</a>
            <a href="javascript:void(0);">联系我们</a>
            <a href="javascript:void(0);">服务条款</a>
            <a href="javascript:void(0);">免责声明</a>
            <a href="javascript:void(0);">加入我们</a>
            <a href="javascript:void(0);">媒体中心</a>
        </div>
        <p class="texC mrgT10">版权所有©杭州木梯商务服务有限公司  Hangzhou MT-multi Biz Co.,Ltd</p>
        <p class="texC mrgT5">浙ICP备16030130号</p>
    </div>
</footer>
<!--footer end-->