<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<title>{$Think.config.website.name}</title>
<!--<link rel="Shortcut Icon" href="favicon.ico" />地址栏和标签上显示图标-->
<!--<link rel="Bookmark" href="favicon.ico" />收藏夹显示图标-->
<meta name="keywords" content="{$Think.config.website.keywords}" />
<meta name="description" content="{$Think.config.website.description}" />
{css href="__CSS__/base.css" /}
{css href="__CSS__/css3.css" /}
{css href="__CSS__/index.css" /}
{css href="__CSS__/style.css" /}
{js href="__JS__/jquery-1.7.2.min.js" /}
{js href="__JS__/jquery.SuperSlide.2.1.1.js" /}
  <!--[if IE 6]> 
{js href="__JS__/iepng.js" /}
<script type="text/javascript">
   EvPNG.fix('div, ul, img, li, input,a,span'); 
</script>
<![endif]-->
</head>
