<!--head-->
<header class="header">
    <div class="head">
        <div class="container2 head_top">
            <div class="fl head_left">欢迎访问木梯商务！</div>
            <div class="fr head_right">
                <a href="login.html">登录</a><a href="register.html">注册</a>
                <a href="issue-tasks.html" class="release">发布任务</a>
                <a href="javascript:void(0);" class="release">我要接单</a>
            </div>
        </div>
    </div>
    <div class="head_bottom container2">
        <div class="logo fl"><a href="index.html"><img src="__IMG__/logo.png" width="146" /></a></div>
        <div class="fl word">
            <ul>
                <li>" 木 " 有 语 言 障 碍</li>
                <li>" 梯 " 升 沟 通 效 率</li>
            </ul>
        </div>
        <div class="fr head_soso">
            <input class="text_soso" type="text" placeholder="">
            <input class="soso_botton" type="submit" value="搜索">
        </div>
    </div>

    <div class="head_nav container2">
        <ul class="nav">
            <li class="-active" style="margin-left:10px;"><a href="index.html">首页</a></li>
            <li>
                <a href="translation.html">翻译</a>
                <div class="nav_two" style="width:950px;">
                    <ul>
                        <li><h2 class="fl" style="line-height:14px;">普通陪同</h2><span style="margin-left: 23px;">|</span></li>
                        <li><a href="javascript:void(0);">展会陪同</a></li>
                        <li><a href="javascript:void(0);">日常陪同</a></li>
                        <li><a href="javascript:void(0);">商务陪同</a></li>
                        <li><a href="javascript:void(0);">会议谈判</a></li>
                        <li><a href="javascript:void(0);">法律陪同</a></li>
                        <li><a href="javascript:void(0);">医疗陪同</a></li>
                        <li><a href="javascript:void(0);">移民陪同</a></li>
                        <li><a href="javascript:void(0);">游学陪同</a></li>
                    </ul>
                    <br />
                    <ul>
                        <li><h2 class="fl" style="line-height:14px;">职业翻译</h2><span style="margin-left: 23px;">|</span></li>
                        <li><a href="javascript:void(0);">同声传译</a></li>
                        <li><a href="javascript:void(0);">交替传译</a></li>
                    </ul>
                    <br />
                    <ul>
                        <li><h2 class="fl" style="line-height:14px;">在线人工翻译</h2><span style="margin-left: 23px;">|</span></li>
                        <li><a href="javascript:void(0);">电话翻译</a></li>
                        <li><a href="javascript:void(0);">视频翻译</a></li>
                    </ul>
                    <br />
                    <ul>
                        <li><h2 class="fl" style="line-height:14px;">笔译</h2><span style="margin-left: 23px;">|</span></li>
                        <li><a href="javascript:void(0);">法律翻译</a></li>
                        <li><a href="javascript:void(0);">技术翻译</a></li>
                        <li><a href="javascript:void(0);">收藏翻译</a></li>
                        <li><a href="javascript:void(0);">说明书翻译</a></li>
                        <li><a href="javascript:void(0);">合同翻译</a></li>
                        <li><a href="javascript:void(0);">产品介绍翻译</a></li>
                        <li><a href="javascript:void(0);">商务资料翻译</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="guidance.html">司导</a>
                <div class="nav_two">
                    <ul>
                        <li><a href="javascript:void(0);">包车</a></li>
                        <li><a href="javascript:void(0);">接机</a></li>
                        <li><a href="javascript:void(0);">送机</a></li>
                        <li><a href="javascript:void(0);">司导</a></li>
                        <li><a href="javascript:void(0);">徒步旅游</a></li>
                    </ul>
                </div>    
            </li>
            <li>
                <a href="work.html">待办事</a>
                <div class="nav_two">
                    <ul>
                        <li><a href="javascript:void(0);">代参展</a></li>
                        <li><a href="javascript:void(0);">代报名</a></li>
                        <li><a href="javascript:void(0);">代订机票</a></li>
                        <li><a href="javascript:void(0);">海外租房</a></li>
                        <li><a href="javascript:void(0);">代订酒店</a></li>
                        <li><a href="javascript:void(0);">代办邀请函</a></li>
                        <li><a href="javascript:void(0);">其他</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="service_area.html">服务区域</a></li>
            <li><a href="expo.html">展会信息</a></li>
            <li><a href="join.html">服务商招募</a></li>
            <li><a href="javascript:void(0);">支付说明</a></li>
            <li><a href="about.html">关于我们</a></li>
        </ul>
    </div>
</header>
<!--head end-->